RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

<FilesMatch "\.(mp4|jpg|png)$">
    Header set Content-Type "video/mp4"
    Header set Content-Type "image/jpeg"
    Header set Content-Type "image/png"
</FilesMatch>
